@import 'tailwindcss';

@theme {
  /* Serene Palette */
  --color-accent: #61dbfb;
  --color-accent-dim: #61dfbb20;

  --color-calm: #93c5fd;
  --color-calm-dim: #93c5fd20;

  --color-mint: #6ee7b7;
  --color-mint-dim: #6ee7b720;

  --color-coral: #ff7e79;
  --color-coral-dim: #ff7e7920;

  --color-glass-border: rgba(255, 255, 255, 0.2);
  --color-glass-surface: rgba(255, 255, 255, 0.1);
}

@custom-variant dark (&:where(.dark, .dark *));

/* Global Smoothness */
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  /* background-color: #f8fafc; */
}

body,
html {
  height: 100%; /* Fallback */
  height: 100dvh; /* Adapts to address bar status */
}

html {
  background-color: #f8fafc;
}

html.dark {
  background-color: #152026;
}
